body{background-color:orange;
color:white;}
p{
	font-size:25px;
}
.destaca{
	color:purple;
	font-weight: bold;
	font-size:25px;
}
.lista{
	font-size:20px;
}
.titulitos{
	color:#4a5b91;
}
a{
  color:purple;
}
a:hover{
  color:yellow;
}