html{
	background-color: lightgrey;
}

nav ul li{
	display: inline-block;
	padding-right: 10px;
	margin-left: 10px;

}
nav{
	background-color: white;
	float: right;
	margin-right: 10%;
	margin-top: 10%;
	padding-right: 20px;
}

header{
	background-image: url(../img/bg.png);
}
#logo{
	float: left;
	margin-bottom: 100px;
	margin-left: 10%;
}
#banner{
	float: center;
	margin-left: 10%;
}
a{
	color: orange;
	text-decoration: none;
}
#seccion{
	background-color: lightgrey;
}
#last{
	background-color: white;
	margin-left: 5%;
	margin-right: 10%;
	width: 56%;
}
.principal{
	display: inline-block;
	background-color: white;
	width: 15%;
	margin-left: 5%;
	padding-bottom: 20px;

}
footer{
	background-image: url(../img/footer.png);
	display: inline-block;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right: 50px;


}
div{
	float: left;
	padding-left: 100px;
}
footer img{
	height: 150px;
	padding-left: 138px;
}
footer a{
	color: white;
}
footer p{
	color: white;
	display: inline-block;
	padding-left: 150px;
}
footer h3{
	color: white;
	padding-left: 100px;
}
section article img{
	width: 30px;
	height: 30px;
}